
<!-- <div class="leftNavigation" id="leftNavigation">
        
    </div>-->

<div class="regsiter_main margin1Per">
    
<!--    <div ng-if= "admin">
        <input type="text" />
    </div>-->
</div>
<div class="regsiter_main enterTopicDiv border">
    <div class="world_img">
    </div>
    <div class="topicArea">
        
<!--        <input type="text" class="topicTextArea">-->
<textarea rows="4" cols="50" class="topicTextArea" placeholder="Please Enter Topic what do you want Speak to world"></textarea>


        
    </div>
</div>
<div class="regsiter_main border height38px">
    
    <a href="#id" class="flipper-container">
  <div id="id" class="flipper">
    <div class="front-face" data-icon="&#x27a3;"><span data-hover="Clicked">Click Me</span></div>
    <div class="back-face" data-icon="&#10003;">Thank You</div>
  </div>
</a>

</div>