
<!-- <div class="leftNavigation" id="leftNavigation">
        
    </div>-->

<div class="regsiter_main margin1Per">
    
<!--    <div ng-if= "admin">
        <input type="text" />
    </div>-->
</div>
<div class="regsiter_main enterTopicDiv border">
    <div class="world_img">
    </div>
    <div class="topicArea">
        
<!--        <input type="text" class="topicTextArea">-->
<textarea rows="4" cols="50" class="topicTextArea" placeholder="Please Enter Topic what do you want Speak to world"></textarea>


        
    </div>
</div>
<div class="regsiter_main border height38px">
    
  <button ng-click="postTheTopic()" >Post Topic</button>

</div>