<div class="regsiter_main marginTop10Per">
	<h3>Registration Form</h3>
        
       <form class="form-inline">
<!--  <div class="form-group">
    <label class="margin">Name</label>
    <input type="text" class="form-control margin"  placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>-->



<div class="firstNameClass">
    <label class="margin5Per">First Name</label>
    <input type="text" class="textBox" ng-model="user.firstName">     
</div>
<div class="firstNameClass">
    <label class="margin5Per">Last Name</label>
    <input type="text" class="textBox" ng-model="user.lastName">     
</div>
<div class="firstNameClass">
    <label class="margin5Per">Email</label>
    <input type="text" class="textBox" ng-model="user.email">     
</div>
<div class="firstNameClass">
    <label class="margin5Per">Mobile</label>
    <input type="text" class="textBox" ng-model="user.mobile">     
</div>
<div class="firstNameClass">
    <label class="margin5Per">Password</label>
    <input type="password" class="textBox" ng-model="user.password">     
</div>
<div class="firstNameClass">
    <label class="margin5Per">Nick Name</label>
    <input type="text" class="textBox" ng-model="user.nickname">     
</div>
<div>
    <button type="button" class="btn btn-success" ng-click="submit(user)">Submit</button>
</div>
    
</form>
       
</div>