<!--<div style="width:100%; alignment-adjust:central;">-->
<md-dialog>
    <div style="width: 30%;border:1px solid activeborder;height: 800px;float: left; ">
        </div>
    <form style="float: left;">
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Login">
          <md-content class="md-padding">
            
          </md-content>
        </md-tab>
        <md-tab label="SignUp">
          <md-content class="md-padding">
          
             </md-content>
        </md-tab>
       
      </md-tabs>
    </md-dialog-content>
<!--      <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>-->
  </form>
</md-dialog>
    
    <!--</div>-->
   